<!DOCTYPE html>
<html>

<head>
    <title>Quoridor - Play</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="mode-selection-container">
        <h2>Sélectionner le mode de jeu</h2>
        <div class="mode-buttons">
            <a href="/game/2players" class="mode-btn">2 Joueurs</a>
            <a href="/game/4players" class="mode-btn">4 Joueurs</a>
            <a href="/ai-difficulty" class="mode-btn">Jouer contre l'IA</a>

        </div>
        <a href="/" class="back-btn">Retour</a>
    </div>
</body>

</html>